.booking{
    margin-top: 200px;
    margin-left: 70px;

}
select.form-control {
}
.navbar.navbar-inverse {
    border: none;
}
.navbar .navbar-brand img {

    float: left;
    height: 72px !important;
    width: 50% !important;
    /* padding: 15px 15px; */
    font-size: 18px;
    line-height: 20px;

}

.nav>li>a>img {
    max-width: 50% !important;
}
.booking img.img-responsive {
    padding: 10px;
}
.img-thumbnail, body {
    background-color: #fff;
}
div #sel1 select {
    height: 50px !important;
    margin-top: 50px;
}

.navbar-default{
    margin-bottom: 3px !important;
}

div#call {
    background: #337ab7 !important;
    MARGIN: 10px;
    padding: 10px;
    color: #fff;
}
div#call a{
    color: #fff;
    text-decoration: underline;
}

div#last_inserted_id {
    float: left;
    text-decoration: underline;
    color: blue;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
}
.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
    top: .8rem;
    width: 1.55rem;
    height: 1.55rem;
}

.checkbox-lg .custom-control-label {
    padding-top: 13px;
    padding-left: 6px;
}


.checkbox-xl .custom-control-label::before,
.checkbox-xl .custom-control-label::after {
    top: 1.2rem;
    width: 1.85rem;
    height: 1.85rem;
}

.checkbox-xl .custom-control-label {
    padding-top: 23px;
    padding-left: 10px;
}
input.larger {
    width: 50px;
    height: 50px;
}
input#checked {
    height: 50px !important;
    width: 50px!important;
    margin-left: 17px;
    color: blue;
    background-color: blue;
    border-radius: 10px !important;
}